body,
html {
  height:100%; 

  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/*My Store and the links*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightskyblue;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  gap: 20px;
}
h1 {
  color: white;
}

li{
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: white;
}

/*The shop items*/
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*this above line is the same as the one below just simplier syntax got it from css tricks.co
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-auto-rows: 1fr;
  gap: 25px;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
}

.store-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 175px auto auto auto;
  align-items: center;
  text-align: center;
  padding-left: 1.35rem;
  padding-right: 1.35rem;

  grid-template-areas: 
    "img img img" 
    "name name name"
    "desc desc desc"
    "rate price stock";

  border-style: solid;
  border-color: rgba(47, 184, 222, 0.935);
  border-width: 4px;
  border-radius: 25px;
}

.store-item span {
  color: steelblue;
  padding-bottom: 0.45rem;
  padding-top: 0.60rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.store-item p:first-of-type{
  grid-area: name;
  color: steelblue;
  font-weight: bolder;
}

.store-item p:nth-of-type(2){
  grid-area: desc;
  font-size: 0.70rem;
}

.store-item img {
  grid-area: img;
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.store-item p{
  margin: 0.25rem;
}


/*Styler For the Copyight Ro*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: skyblue;
}

footer p{
  color: white;
}